<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head">Head</div>
</head>
<body class="d-flex flex-column h-100">

<header>
    <div th:replace="fragments/navbar">Navigation</div>
</header>

<div class="container-fluid pt-5 mb-4">
    <div class="row" style="height: 2em;"></div>

    <section>
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-lg-6 mb-4 mb-lg-0">
                    <div class="card mb-3" style="border-radius: .5rem;">
                        <div class="row g-0">
                            <div class="text-center text-white bg-secondary bg-opacity-50"
                                 style="border-top-left-radius: .5rem; border-top-right-radius: .5rem;">
                                <div class="my-3">
                                    <img th:src="${user.imageUrl}" class="w-50 img-thumbnail"
                                         onerror="this.onerror=null;this.src='/images/avatar.png';"/>
                                </div>
                            </div>
                        </div>
                        <div class="row g-0">
                            <div>
                                <div class="card-body p-4">
                                    <h6>Информация</h6>
                                    <hr class="mt-0 mb-4">
                                    <div class="row pt-1">
                                        <div class="col-6 mb-3">
                                            <h6>Име</h6>
                                            <p class="text-muted" th:text=${user.firstName}>Име</p>
                                        </div>

                                        <div class="col-6 mb-3">
                                            <h6>Фамилия</h6>
                                            <p class="text-muted" th:text=${user.lastName}>Фамилия</p>
                                        </div>

                                        <div class="col-6 mb-3">
                                            <h6>Email</h6>
                                            <p class="text-muted" th:text=${user.email}>info@example.com</p>
                                        </div>
                                    </div>

                                    <h6>Статус и права</h6>
                                    <hr class="mt-0 mb-4">

                                    <form class="main-form mx-auto col-md-8 col-lg-6 d-flex row g-3 justify-content-center"
                                          th:action="@{'/admin/users/edit/' + ${user.id}}"
                                          th:method="post"
                                          th:object="${user}">

                                        <div class="form-group">
                                            <label for="userRoles">Роли</label>
                                            <select class="form-control selectpicker" th:field="*{userRoleIds}" id="userRoles" multiple>

                                                <option th:each="role : ${T(bg.beesoft.beehive.model.entity.enums.UserRoleEnum).values()}"
                                                        th:value="${role}"
                                                        th:text="${role}"
                                                        >роля
                                                </option>

                                            </select>
                                        </div>

                                        <td><div>Заключен</div>
                                            <input type="checkbox"  class="form-check-input"
                                                   th:checked="${!user.isActive}"></td>

                                        <td><div>Блокиран</div>
                                            <input type="checkbox"  class="form-check-input"
                                                   th:checked="${user.isBanned}"></td>





                                        <div class="pb-3 btn-group" role="group">
                                            <button class="btn btn-warning col-4 mx-3"
                                                    onclick="window.history.go(-1); return false;"
                                                    role="button">Отказ
                                            </button>
                                            <button type="submit" class="btn btn-primary col-4 mx-3">Запази</button>

                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div th:replace="fragments/footer">Footer</div>

</body>
</html>