<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="fragments/head">Head</div>
</head>
<body class="d-flex flex-column h-100">

<header>
  <div th:replace="fragments/navbar">Navigation</div>
</header>

<div class="container-fluid pt-5 mb-4">
  <div class="row" style="height: 4em;"></div>

  <h2 class="text-center text-white">Нов пчелин</h2>
  <form class="main-form mx-auto col-md-8 col-lg-6 d-flex row g-3 justify-content-center"
        th:action="@{/apiaries/add}"
        th:method="post"
        th:object="${apiaryAddDTO}">
    <small class="bg-danger text-light rounded" th:if="${usedAddress}">Вече има пчелин добавен на този адрес.</small>
    <div class="col-md-6">
      <label for="name" class="form-label">Име</label>
      <input type="text" class="form-control" id="name" th:field="*{name}" th:errorclass="is-invalid">
      <small class="bg-danger invalid-feedback text-light rounded">Името трябва да съдържа поне 3 символа</small>

    </div>
    <div class="col-md-6">
      <label for="area" class="form-label">Площ</label>
      <input type="number" class="form-control" id="area" th:field="*{area}" th:errorclass="is-invalid">
      <small class="bg-danger invalid-feedback text-light rounded">Невалидна площ.</small>

    </div>
    <div class="col-12">
      <label for="inputAddress" class="form-label">Адрес</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="ул.Пчеларска 3" th:field="*{street}" th:errorclass="is-invalid">
      <small class="bg-danger invalid-feedback text-light rounded">Невалиден адрес</small>

    </div>
    <div class="col-md-6">
      <label for="inputCity" class="form-label">Град</label>
      <input type="text" class="form-control" id="inputCity" th:field="*{city}" th:errorclass="is-invalid">
      <small class="bg-danger invalid-feedback text-light rounded">Градът трябва да съдържа поне 3 символа.</small>

    </div>
    <div class="col-md-4">
      <label for="inputCountry" class="form-label">Държава</label>
      <input type="text" class="form-control" id="inputCountry" th:field="*{country}" th:errorclass="is-invalid">
      <small class="bg-danger invalid-feedback text-light rounded">Държавата трябва да съдържа поне 3 символа.</small>

    </div>
    <div class="col-md-2">
      <label for="inputZip" class="form-label">ПК</label>
      <input type="text" class="form-control" id="inputZip" th:field="*{postcode}" th:errorclass="is-invalid">
    </div>
    <div class="col-12" >
      <label for="inputAddress2" class="form-label">Допълнително описание</label>
      <textarea class="form-control" id="inputAddress2" placeholder="Южно разположен, близо до слънчогледовата нива." rows="3" th:field="*{description}" th:errorclass="is-invalid"></textarea>
    </div>
    <div class="mb-3" style="display:none">
      <label for="formFile" class="form-label">Снимка на пчелина</label>
      <input class="form-control" type="file" id="formFile">
    </div>
    <div class="mb-3" >
      <label for="inputImg" class="form-label">Снимка на пчелина</label>
      <input class="form-control" type="text" id="inputImg" th:field="*{imageURL}" th:errorclass="is-invalid">
    </div>

    <div class="col-12">
      <button type="submit" class="btn btn-primary">Запази</button>
    </div>
  </form>
</div>

<div th:replace="fragments/footer">Footer</div>

</body>
</html>