<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head">Head</div>
</head>
<body class="d-flex flex-column h-100">

<header>
    <div th:replace="fragments/navbar">Navigation</div>
</header>

<div class="container-fluid pt-5 mb-4">
    <div class="row" style="height: 2em;"></div>

    <h2 class="text-center text-white">Промяна на информация за кошер</h2>
    <form class="main-form mx-auto col-md-8 col-lg-6 d-flex row g-3 justify-content-center"
          th:action="@{/beehives/edit/}+${beehiveEditDTO.id}"
          th:method="post"
          th:object="${beehiveEditDTO}">

        <div class="form-group">
            <label class="text-center text-white font-weight-bold" for="apiaryId">Пчелин</label>
            <select id="apiaryId"
                    name="apiaryId"
                    th:errorclass="is-invalid"
                    class="form-select">
                <option value="">- Пчелин -</option>
                <option th:each="e : ${apiaries}"
                        th:text="${e.name}"
                        th:value="${e.id}"
                        th:selected="${e.id} == *{apiaryId}">
                    Тип кошер.
                </option>
            </select>
            <p class="invalid-feedback errors alert alert-danger">
                Задължително поле.
            </p>
        </div>

        <div class="form-group col-3">
            <label class="text-center text-white font-weight-bold" for="referenceNumber">Референтен номер</label>
            <p th:if="${numberIsTaken}" class="errors alert alert-danger">
                Вече има кошер с този номер в пчелина, моля проверете.
            </p>
            <input type="number" class="form-control" th:field="*{referenceNumber}" id="referenceNumber"
                   th:errorclass="is-invalid"
                   th:placeholder="'Референтен номер'">
            <p class="invalid-feedback errors alert alert-danger">
                Номерът на кошера трябва да е положително число.
            </p>
        </div>

        <div class="form-group col-6">
            <label class="text-center text-white font-weight-bold" for="type">Тип кошер</label>
            <select id="type"
                    name="type"
                    th:errorclass="is-invalid"
                    class="form-select">
                <option value="">- Избери тип кошер -</option>
                <option th:each="e : ${T(bg.beesoft.beehive.model.entity.enums.BeeHiveTypeEnum).values()}"
                        th:text="${e}"
                        th:value="${e}"
                        th:selected="${e} == *{type}">
                    Тип кошер.
                </option>
            </select>
            <p class="invalid-feedback errors alert alert-danger">
                Задължително поле.
            </p>
        </div>

        <div class="form-group col-3 lh-1">
            <label for="color" class="form-label text-white">Цвят</label>
            <input type="color" class="form-control form-control-color" colorpick-eyedropper-active="false" id="color" th:value="*{color}"
                   th:errorclass="is-invalid" name="color"
                   title="Избери цвят">
            <p class="invalid-feedback errors alert alert-danger">
                Задължително поле.
            </p>
        </div>

        <div class="form-group">
            <label for="inputImg" class="text-center text-white font-weight-bold">Снимка на Кошера</label>
            <input class="form-control" type="text" id="inputImg" th:field="*{imageUrl}" th:errorclass="is-invalid">
        </div>


        <div class="form-check form-switch col-4 text-white">
            <input type="checkbox" class="form-check-input" role="switch" th:checked="*{alive}" name="alive" id="alive">
            <label class="form-check-label" for="alive">Кошерът е жив</label>
        </div>


        <h6>Майка</h6>
        <hr class="mt-0 mb-4">

        <div class="form-check form-switch col-4 text-white">
            <input type="checkbox" class="form-check-input" role="switch" th:checked="*{queenAlive}"
                   name="queenAlive" id="queenAlive">
            <label class="form-check-label" for="queenAlive">Жива майка</label>
        </div>

        <div class="form-check form-switch col-4 text-white">
            <input type="checkbox" class="form-check-input" role="switch" th:checked="*{queenActive}"
                   name="queenActive" id="queenActive">
            <label class="form-check-label" for="queenActive">Пронесла майка</label>
        </div>

        <div class="form-check form-switch col-4 text-white">
            <input type="checkbox" class="form-check-input" role="switch" th:checked="*{queenMarked}"
                   name="queenMarked" id="queenMarked">
            <label class="form-check-label" for="queenMarked">Маркирана майка</label>
        </div>

        <div class="form-group col-8">
            <label for="queenDateOfMark" class="text-center text-white font-weight-bold">Дата на маркиране:</label>
            <input type="date" class="form-control" th:field="*{queenDateOfMark}" id="queenDateOfMark"
                   th:errorclass="is-invalid"/>
            <p class="invalid-feedback errors alert alert-danger">
                Датата трябва да е във формат dd-MM-yyyy и да е днес или преди това.
            </p>
        </div>


        <h6>Семейство</h6>
        <hr class="mt-0 mb-4">

        <div class="row">
            <div class="text-white col-2">Слабо</div>
            <label for="power" class="form-label text-white text-center col-8">Нормално</label>
            <div class="text-white col-2">Силно</div>
        </div>
        <div class="form-group col-8">
            <input name="power" type="range" class="form-range" min="1" max="100" step="1"
                   th:value="*{power} == 0 ? 50:*{power}" id="power">

        </div>

        <div class="form-group d-flex justify-content-between">
            <label class="text-white p-2">Темперамент</label>
            <div
                    th:each="e : ${T(bg.beesoft.beehive.model.entity.enums.TemperamentEnum).values()}">
                <input type="radio" th:field="*{temperament}" th:value="${e}" class="btn-check" name="options">
                <label class="btn p-2 m-2" th:classappend="${e}" th:for="${#ids.prev('temperament')}"
                       th:text="${e}">Темперамент</label>
            </div>
        </div>
        <div class="row justify-content-center">
            <button  class="btn btn-warning col-4 mx-3"     onclick="window.history.go(-1); return false;"
                     role="button">Отказ</button>
            <button type="submit" class="btn btn-primary col-4 mx-3">Запази</button>
        </div>


    </form>
</div>

<div th:replace="fragments/footer">Footer</div>

</body>
</html>