<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="fragments/head">Head</div>
</head>
<body class="d-flex flex-column h-100">

<header>
  <div th:replace="fragments/navbar">Navigation</div>
</header>




<div class="px-4 pt-5 my-5 text-center border-bottom">
<h1 class="display-4 fw-bold">Опа....нещо страшно се обърка... :(</h1>
  <div><img style="max-width: 30%;" class="m-3" src="https://www.clipartmax.com/png/full/72-720646_honey-bee-honeycomb-insect-clip-art-free-image-vector-bee.png"></div>
<div class="col-lg-6 mx-auto">
  <p class="lead mb-4">Извиняваме се за неудобството. Екипът е уведомен и работи по разрешаването на проблема. Надяваме се скоро да бъдем обратно на линия за вас :) </p>
  <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
    <a href="/" class="btn btn-primary btn-lg px-4 me-sm-3">Начало</a>
  </div>
</div>
</div>




<div th:replace="fragments/footer">Footer</div>

</body>
</html>