<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head">Head</div>
</head>
<body class="d-flex flex-column h-100">

<header>
    <div th:replace="fragments/navbar">Navigation</div>
</header>

<div class="container-fluid pt-5 mb-4">
    <div class="row" style="height: 2em;"></div>

    <h2 class="text-center text-white">Смяна на парола</h2>
    <form th:action="@{/users/password-change}"
          th:method="put"
          th:object="${changePasswordDTO}"
          class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">

        <div class="row">
            <div class="form-group col-md-6 mb-3 mx-auto">
        <p th:if="${incorrectPassword}" class="errors alert-danger alert">Неправилна парола</p>
                <label for="password" class="text-white font-weight-bold">Стара Парола</label>
                <input id="password" th:field="*{password}" th:errorclass="is-invalid" name="password"
                       type="password"
                       min="2" max="20" class="form-control"
                       placeholder="Стара Парола"/>
                <p class="invalid-feedback errors alert alert-danger">
                    Паролата трябва да бъде най-малко 5 символа.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6 mb-3 mx-auto">
                <p th:if="${alreadyUsed}" class="errors alert-danger alert">Новата парола трябва да е различна от досегашната.</p>

                <label for="newPassword" class="text-white font-weight-bold">Нова парола</label>
                <input id="newPassword" th:field="*{newPassword}"
                       name="confirmPassword"
                       type="password" min="2" max="20" class="form-control"
                       th:classappend="${passwordsDoNotMatch} ? is-invalid : ''"
                       placeholder="Нова парола"/>
                <p th:if="${passwordsDoNotMatch}" class="invalid-feedback errors alert alert-danger">
                    Паролите не съвпадат.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 mb-3 mx-auto">
                <label for="confirmNewPassword" class="text-white font-weight-bold">Потвърди парола</label>
                <input id="confirmNewPassword" th:field="*{confirmNewPassword}"
                       name="confirmPassword"
                       type="password" min="2" max="20" class="form-control"
                       placeholder="Нова парола"/>

            </div>
        </div>


                <div class="row justify-content-center">
                    <button class="btn btn-warning col-4 mx-3" onclick="window.history.go(-1); return false;"
                            role="button">Отказ
                    </button>
                    <button type="submit" class="btn btn-primary col-4 mx-3">Запази</button>

                </div>

    </form>
</div>

<div th:replace="fragments/footer">Footer</div>


</body>
</html>